<connectionStrings>
  <!--<add name="timesheet" connectionString="Data Source=GUYLISTERC90F\DEV;Initial Catalog=timesheet;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <add name="score" connectionString="Server=tcp:csidb.database.windows.net,1433;Initial Catalog=ScoreCard;Persist Security Info=False;User ID=csiazure@csidb;Password=Cs1azur3;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  <!--<add name="score" connectionString="Server: unb5z5v4so.database.windows.net,1433;Data Source=unb5z5v4so.database.windows.net;Initial Catalog=scoredb;Integrated Security=False;User ID=tracker;Password=Track3r0k;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />-->
</connectionStrings>
