<connectionStrings>
  <!--<add name="timesheet" connectionString="Data Source=GUYLISTERC90F\DEV;Initial Catalog=timesheet;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <add name="score" connectionString="Data Source=155.118.175.18;Initial Catalog=ScoreCard;Integrated Security=False;User ID=TimeTracker;Password=timetracker;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
</connectionStrings>
