body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: rgb(7,39,158);
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffef;
}

.navbar-inverse .navbar-text {
    color: #ffffff;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #ffff01;
}

.table thead > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tfoot > tr > td {
    padding: 0;
    vertical-align: top;
    border-right: 1px solid white;
    border-bottom: none;
    border-top: none;
    font-weight: lighter;
    color: rgb(7,39,158);
    background-color: rgb(186,228,240);
    margin: 2px;
}

.table thead th.major {
    width: 30px !important;
}

.table thead th.minor {
    width: 40px !important;
}

tr.topscore {
    color:  rgb(7,39,158);
    background-color: rgb(170,214,176);
}

input:not([readonly]) {
    background-color: rgba(176, 225, 239, 0.20);
    /*border-color: blue;*/
}

table#scoreCard {
    table-layout: fixed;
    width: 100%;
}

table#scoreCard td {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

table#scoreCard .scoreheader > th {
    text-align: center;
    vertical-align: middle;
}

table#scoreCard .scoreheader > th.leftee {
    text-align: left;
}

tr.score td {
    padding: 0;
}

tr.score input[type=text] {
    max-width: 70px;
    border: none;
    text-align: right;
    padding-top: 0;
    padding-bottom: 2px;
}

.table tbody > tr.line.score.undertotal > td {
    border-top: 1px solid black;
}

.table tbody > tr.score > td {
    border-bottom: none;
}

.table tbody > tr.group.score.underline > td {
    border-bottom: 1px solid black;
}

tr.score.line.undertotal input[type=text] {
    border-bottom: double;
    padding: 0;
}

tr.score.group.undertotal td.subline {
    border-top: 1px solid blue;
}

tr.score.site.underline.last td {
    border-bottom: 1px solid black;
}

tr.score.site.underline td.subline { 
    border-bottom: 1px solid blue;
}
tr.score.group.undertotal input[type=text ] {
    border-bottom: 1px solid blue;
    padding: 0;
}
tr.score.undertotal input[type=text].scoreComment {
    border: none;
}

tr td input[type=text].scoreComment {
    max-width: 190px;
    text-align: left;
}

td.owner {
    font-size:smaller;
}

input[class*=text-success] {
  background-color: #dff0d8 !important;
}

input[class*=text-danger] {
  background-color: #f2dede !important;
}

input[class*=text-warning] {
  background-color: #fcf8e3 !important;
}

input[class*=text-info] {
  background-color: #d9edf7 !important;
}

input[class*=text-primary] {
  background-color: #0099cc !important;
}

