body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table#scoreCard td {
    padding: 0;
}

table#scoreCard .scoreheader > th {
    text-align: center;
    vertical-align: bottom;
}

tr.score td, tr.subscore td {
    padding: 0;
}

tr.score input[type=text], tr.subscore input[type=text] {
    max-width: 60px;
    border: none;
}