@model System.Int32
@{
    ViewBag.Title = "Ask Admin";
}

<h2>Ask Administrator to visit ScoreCard</h2>

You requested scores for @model 
Blank records will be created for @model  when the Administrator visits ScoreCard requesting the same year.

