USE [ScoreCard]
GO
/****** Object:  ForeignKey [FK_Line_ToLine]    Script Date: 06/16/2015 13:25:00 ******/
ALTER TABLE [dbo].[Line] DROP CONSTRAINT [FK_Line_ToLine]
GO
/****** Object:  ForeignKey [FK_Line_ToMeasure]    Script Date: 06/16/2015 13:25:00 ******/
ALTER TABLE [dbo].[Line] DROP CONSTRAINT [FK_Line_ToMeasure]
GO
/****** Object:  ForeignKey [FK_Presence_ToGroup]    Script Date: 06/16/2015 13:25:01 ******/
ALTER TABLE [dbo].[Presence] DROP CONSTRAINT [FK_Presence_ToGroup]
GO
/****** Object:  ForeignKey [FK_Presence_ToSite]    Script Date: 06/16/2015 13:25:01 ******/
ALTER TABLE [dbo].[Presence] DROP CONSTRAINT [FK_Presence_ToSite]
GO
/****** Object:  ForeignKey [FK_Responsibility_ToLine]    Script Date: 06/16/2015 13:25:01 ******/
ALTER TABLE [dbo].[Responsibility] DROP CONSTRAINT [FK_Responsibility_ToLine]
GO
/****** Object:  ForeignKey [FK_Responsibility_ToWorker]    Script Date: 06/16/2015 13:25:01 ******/
ALTER TABLE [dbo].[Responsibility] DROP CONSTRAINT [FK_Responsibility_ToWorker]
GO
/****** Object:  ForeignKey [FK_Score_ToGroup]    Script Date: 06/16/2015 13:25:01 ******/
ALTER TABLE [dbo].[Score] DROP CONSTRAINT [FK_Score_ToGroup]
GO
/****** Object:  ForeignKey [FK_Score_ToLine]    Script Date: 06/16/2015 13:25:01 ******/
ALTER TABLE [dbo].[Score] DROP CONSTRAINT [FK_Score_ToLine]
GO
/****** Object:  ForeignKey [FK_Worker_ToGroup]    Script Date: 06/16/2015 13:25:01 ******/
ALTER TABLE [dbo].[Worker] DROP CONSTRAINT [FK_Worker_ToGroup]
GO
/****** Object:  Table [dbo].[Responsibility]    Script Date: 06/16/2015 13:25:01 ******/
ALTER TABLE [dbo].[Responsibility] DROP CONSTRAINT [FK_Responsibility_ToLine]
GO
ALTER TABLE [dbo].[Responsibility] DROP CONSTRAINT [FK_Responsibility_ToWorker]
GO
DROP TABLE [dbo].[Responsibility]
GO
/****** Object:  Table [dbo].[Score]    Script Date: 06/16/2015 13:25:01 ******/
ALTER TABLE [dbo].[Score] DROP CONSTRAINT [FK_Score_ToGroup]
GO
ALTER TABLE [dbo].[Score] DROP CONSTRAINT [FK_Score_ToLine]
GO
DROP TABLE [dbo].[Score]
GO
/****** Object:  Table [dbo].[Worker]    Script Date: 06/16/2015 13:25:01 ******/
ALTER TABLE [dbo].[Worker] DROP CONSTRAINT [FK_Worker_ToGroup]
GO
DROP TABLE [dbo].[Worker]
GO
/****** Object:  Table [dbo].[Presence]    Script Date: 06/16/2015 13:25:01 ******/
ALTER TABLE [dbo].[Presence] DROP CONSTRAINT [FK_Presence_ToGroup]
GO
ALTER TABLE [dbo].[Presence] DROP CONSTRAINT [FK_Presence_ToSite]
GO
DROP TABLE [dbo].[Presence]
GO
/****** Object:  Table [dbo].[Line]    Script Date: 06/16/2015 13:25:00 ******/
ALTER TABLE [dbo].[Line] DROP CONSTRAINT [FK_Line_ToLine]
GO
ALTER TABLE [dbo].[Line] DROP CONSTRAINT [FK_Line_ToMeasure]
GO
DROP TABLE [dbo].[Line]
GO
/****** Object:  Table [dbo].[Measure]    Script Date: 06/16/2015 13:25:01 ******/
DROP TABLE [dbo].[Measure]
GO
/****** Object:  Table [dbo].[Permit]    Script Date: 06/16/2015 13:25:01 ******/
DROP TABLE [dbo].[Permit]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 06/16/2015 13:25:00 ******/
DROP TABLE [dbo].[Group]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 06/16/2015 13:25:01 ******/
DROP TABLE [dbo].[Settings]
GO
/****** Object:  Table [dbo].[Site]    Script Date: 06/16/2015 13:25:01 ******/
DROP TABLE [dbo].[Site]
GO
/****** Object:  Table [dbo].[Site]    Script Date: 06/16/2015 13:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Site](
	[SiteId] [int] IDENTITY(1,1) NOT NULL,
	[Site] [nvarchar](10) NOT NULL,
	[SiteName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SiteId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Site] ON
INSERT [dbo].[Site] ([SiteId], [Site], [SiteName]) VALUES (0, N'All', N'All')
INSERT [dbo].[Site] ([SiteId], [Site], [SiteName]) VALUES (1, N'MBC', N'MBC')
INSERT [dbo].[Site] ([SiteId], [Site], [SiteName]) VALUES (2, N'SWIC', N'SWIC')
SET IDENTITY_INSERT [dbo].[Site] OFF
/****** Object:  Table [dbo].[Settings]    Script Date: 06/16/2015 13:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[SettingsId] [int] NOT NULL,
	[AllowIonCorrection] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingsId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 06/16/2015 13:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Group](
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
	[Group] [varchar](10) NOT NULL,
	[GroupName] [varchar](50) NOT NULL,
	[ADName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
SET IDENTITY_INSERT [dbo].[Group] ON
INSERT [dbo].[Group] ([GroupId], [Group], [GroupName], [ADName]) VALUES (0, N'All', N'All', NULL)
INSERT [dbo].[Group] ([GroupId], [Group], [GroupName], [ADName]) VALUES (1, N'RDSS', N'Research & Development Scalable Systems', NULL)
INSERT [dbo].[Group] ([GroupId], [Group], [GroupName], [ADName]) VALUES (2, N'HSE', N'', NULL)
SET IDENTITY_INSERT [dbo].[Group] OFF
/****** Object:  Table [dbo].[Permit]    Script Date: 06/16/2015 13:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permit](
	[PermitId] [int] IDENTITY(1,1) NOT NULL,
	[WorkerId] [int] NOT NULL,
	[GroupId] [int] NOT NULL,
	[SiteId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PermitId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Permit] ON
INSERT [dbo].[Permit] ([PermitId], [WorkerId], [GroupId], [SiteId]) VALUES (10, 8, 1, 1)
INSERT [dbo].[Permit] ([PermitId], [WorkerId], [GroupId], [SiteId]) VALUES (11, 20, 1, 1)
INSERT [dbo].[Permit] ([PermitId], [WorkerId], [GroupId], [SiteId]) VALUES (12, 13, 1, 2)
SET IDENTITY_INSERT [dbo].[Permit] OFF
/****** Object:  Table [dbo].[Measure]    Script Date: 06/16/2015 13:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Measure](
	[MeasureId] [int] IDENTITY(1,1) NOT NULL,
	[Symbol] [varchar](10) NOT NULL,
	[Mask] [varchar](10) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[DecimalPoint] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MeasureId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
SET IDENTITY_INSERT [dbo].[Measure] ON
INSERT [dbo].[Measure] ([MeasureId], [Symbol], [Mask], [Description], [DecimalPoint]) VALUES (1, N'$MM/%', N'N', N'Million USD', 2)
INSERT [dbo].[Measure] ([MeasureId], [Symbol], [Mask], [Description], [DecimalPoint]) VALUES (2, N'FTE', N'N', N'Full Time Employees', 2)
INSERT [dbo].[Measure] ([MeasureId], [Symbol], [Mask], [Description], [DecimalPoint]) VALUES (3, N'$MM', N'N', N'Million USD', 2)
SET IDENTITY_INSERT [dbo].[Measure] OFF
/****** Object:  Table [dbo].[Line]    Script Date: 06/16/2015 13:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Line](
	[LineId] [int] IDENTITY(1,1) NOT NULL,
	[ParentLineId] [int] NOT NULL,
	[Order] [char](1) NOT NULL,
	[MeasureId] [int] NOT NULL,
	[Description] [varchar](200) NOT NULL,
	[ShowTotal] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LineId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
SET IDENTITY_INSERT [dbo].[Line] ON
INSERT [dbo].[Line] ([LineId], [ParentLineId], [Order], [MeasureId], [Description], [ShowTotal]) VALUES (6, 6, N'1', 8, N'Financials ($MM)', 0)
INSERT [dbo].[Line] ([LineId], [ParentLineId], [Order], [MeasureId], [Description], [ShowTotal]) VALUES (9, 9, N'2', 8, N'Performance', 0)
INSERT [dbo].[Line] ([LineId], [ParentLineId], [Order], [MeasureId], [Description], [ShowTotal]) VALUES (10, 10, N'3', 8, N'Governance', 0)
SET IDENTITY_INSERT [dbo].[Line] OFF
/****** Object:  Table [dbo].[Presence]    Script Date: 06/16/2015 13:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Presence](
	[PresenceId] [int] IDENTITY(1,1) NOT NULL,
	[GroupId] [int] NOT NULL,
	[SiteId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PresenceId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Worker]    Script Date: 06/16/2015 13:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Worker](
	[WorkerId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeNumber] [nvarchar](10) NULL,
	[LevelId] [int] NULL,
	[WorkDeptId] [int] NULL,
	[FacilityId] [int] NULL,
	[RoleId] [int] NULL,
	[GroupId] [int] NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[IsManager] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsPartTime] [bit] NOT NULL,
	[OnDisability] [bit] NOT NULL,
	[IonName] [nvarchar](50) NULL,
	[IsAdmin] [bit] NOT NULL,
	[ManagerId] [int] NULL,
	[SiteId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkerId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Worker] ON
INSERT [dbo].[Worker] ([WorkerId], [EmployeeNumber], [LevelId], [WorkDeptId], [FacilityId], [RoleId], [GroupId], [FirstName], [LastName], [IsManager], [IsActive], [IsPartTime], [OnDisability], [IonName], [IsAdmin], [ManagerId], [SiteId]) VALUES (2, N'1', 1034671, 1, 12, 12, 1, N'Brian', N'Kiley', 1, 1, 0, 0, N'Kiley.bn', 0, 8, 0)
INSERT [dbo].[Worker] ([WorkerId], [EmployeeNumber], [LevelId], [WorkDeptId], [FacilityId], [RoleId], [GroupId], [FirstName], [LastName], [IsManager], [IsActive], [IsPartTime], [OnDisability], [IonName], [IsAdmin], [ManagerId], [SiteId]) VALUES (4, N'3', 1045179, 1, 12, 12, 1, N'Kerry', N'Becker', 1, 1, 0, 0, N'becker.kg', 0, 8, 0)
INSERT [dbo].[Worker] ([WorkerId], [EmployeeNumber], [LevelId], [WorkDeptId], [FacilityId], [RoleId], [GroupId], [FirstName], [LastName], [IsManager], [IsActive], [IsPartTime], [OnDisability], [IonName], [IsAdmin], [ManagerId], [SiteId]) VALUES (5, N'4', 1051237, 1, 11, 0, 1, N'Steve', N'Winbigler', 1, 0, 0, 0, NULL, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[Worker] OFF
/****** Object:  Table [dbo].[Score]    Script Date: 06/16/2015 13:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Score](
	[ScoreId] [int] IDENTITY(1,1) NOT NULL,
	[YearEnding] [int] NOT NULL,
	[LineId] [int] NOT NULL,
	[Target] [int] NULL,
	[Q1] [int] NULL,
	[Q2] [int] NULL,
	[Q3] [int] NULL,
	[Q4] [int] NULL,
	[Total] [int] NULL,
	[Comment] [varchar](50) NULL,
	[GroupId] [int] NULL,
	[SiteId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ScoreId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
SET IDENTITY_INSERT [dbo].[Score] ON
INSERT [dbo].[Score] ([ScoreId], [YearEnding], [LineId], [Target], [Q1], [Q2], [Q3], [Q4], [Total], [Comment], [GroupId], [SiteId]) VALUES (1, 2014, 12, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0)
INSERT [dbo].[Score] ([ScoreId], [YearEnding], [LineId], [Target], [Q1], [Q2], [Q3], [Q4], [Total], [Comment], [GroupId], [SiteId]) VALUES (2, 2014, 13, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0)
INSERT [dbo].[Score] ([ScoreId], [YearEnding], [LineId], [Target], [Q1], [Q2], [Q3], [Q4], [Total], [Comment], [GroupId], [SiteId]) VALUES (3, 2014, 14, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
SET IDENTITY_INSERT [dbo].[Score] OFF
/****** Object:  Table [dbo].[Responsibility]    Script Date: 06/16/2015 13:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Responsibility](
	[ResponsibilityId] [int] IDENTITY(1,1) NOT NULL,
	[WorkerId] [int] NOT NULL,
	[LineId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResponsibilityId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Responsibility] ON
INSERT [dbo].[Responsibility] ([ResponsibilityId], [WorkerId], [LineId]) VALUES (41, 20, 12)
INSERT [dbo].[Responsibility] ([ResponsibilityId], [WorkerId], [LineId]) VALUES (42, 9, 13)
INSERT [dbo].[Responsibility] ([ResponsibilityId], [WorkerId], [LineId]) VALUES (43, 77, 13)
SET IDENTITY_INSERT [dbo].[Responsibility] OFF
/****** Object:  ForeignKey [FK_Line_ToLine]    Script Date: 06/16/2015 13:25:00 ******/
ALTER TABLE [dbo].[Line]  WITH CHECK ADD  CONSTRAINT [FK_Line_ToLine] FOREIGN KEY([ParentLineId])
REFERENCES [dbo].[Line] ([LineId])
GO
ALTER TABLE [dbo].[Line] CHECK CONSTRAINT [FK_Line_ToLine]
GO
/****** Object:  ForeignKey [FK_Line_ToMeasure]    Script Date: 06/16/2015 13:25:00 ******/
ALTER TABLE [dbo].[Line]  WITH CHECK ADD  CONSTRAINT [FK_Line_ToMeasure] FOREIGN KEY([MeasureId])
REFERENCES [dbo].[Measure] ([MeasureId])
GO
ALTER TABLE [dbo].[Line] CHECK CONSTRAINT [FK_Line_ToMeasure]
GO
/****** Object:  ForeignKey [FK_Presence_ToGroup]    Script Date: 06/16/2015 13:25:01 ******/
ALTER TABLE [dbo].[Presence]  WITH CHECK ADD  CONSTRAINT [FK_Presence_ToGroup] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Group] ([GroupId])
GO
ALTER TABLE [dbo].[Presence] CHECK CONSTRAINT [FK_Presence_ToGroup]
GO
/****** Object:  ForeignKey [FK_Presence_ToSite]    Script Date: 06/16/2015 13:25:01 ******/
ALTER TABLE [dbo].[Presence]  WITH CHECK ADD  CONSTRAINT [FK_Presence_ToSite] FOREIGN KEY([SiteId])
REFERENCES [dbo].[Site] ([SiteId])
GO
ALTER TABLE [dbo].[Presence] CHECK CONSTRAINT [FK_Presence_ToSite]
GO
/****** Object:  ForeignKey [FK_Responsibility_ToLine]    Script Date: 06/16/2015 13:25:01 ******/
ALTER TABLE [dbo].[Responsibility]  WITH NOCHECK ADD  CONSTRAINT [FK_Responsibility_ToLine] FOREIGN KEY([LineId])
REFERENCES [dbo].[Line] ([LineId])
GO
ALTER TABLE [dbo].[Responsibility] CHECK CONSTRAINT [FK_Responsibility_ToLine]
GO
/****** Object:  ForeignKey [FK_Responsibility_ToWorker]    Script Date: 06/16/2015 13:25:01 ******/
ALTER TABLE [dbo].[Responsibility]  WITH NOCHECK ADD  CONSTRAINT [FK_Responsibility_ToWorker] FOREIGN KEY([WorkerId])
REFERENCES [dbo].[Worker] ([WorkerId])
GO
ALTER TABLE [dbo].[Responsibility] CHECK CONSTRAINT [FK_Responsibility_ToWorker]
GO
/****** Object:  ForeignKey [FK_Score_ToGroup]    Script Date: 06/16/2015 13:25:01 ******/
ALTER TABLE [dbo].[Score]  WITH NOCHECK ADD  CONSTRAINT [FK_Score_ToGroup] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Group] ([GroupId])
GO
ALTER TABLE [dbo].[Score] CHECK CONSTRAINT [FK_Score_ToGroup]
GO
/****** Object:  ForeignKey [FK_Score_ToLine]    Script Date: 06/16/2015 13:25:01 ******/
ALTER TABLE [dbo].[Score]  WITH NOCHECK ADD  CONSTRAINT [FK_Score_ToLine] FOREIGN KEY([LineId])
REFERENCES [dbo].[Line] ([LineId])
GO
ALTER TABLE [dbo].[Score] CHECK CONSTRAINT [FK_Score_ToLine]
GO
/****** Object:  ForeignKey [FK_Worker_ToGroup]    Script Date: 06/16/2015 13:25:01 ******/
ALTER TABLE [dbo].[Worker]  WITH NOCHECK ADD  CONSTRAINT [FK_Worker_ToGroup] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Group] ([GroupId])
GO
ALTER TABLE [dbo].[Worker] CHECK CONSTRAINT [FK_Worker_ToGroup]
GO
