    <h1>How to Use ScoreCard</h1>
    <h3>General Usage</h3>
    <p>
        This website provides simultaneous viewing and editing of line items that contribute to year's ScoreCard. 
        Cells that cannot be edited have an off-white background color and do not respond to mouse clicks.  The tab key skips over these cells.
        Cells that can be edited have a slighty blue background color.  Clicking on the cell provides a blinking cursor and outline to indicate focus.  Data entered in these cells will be stored in the database as soon as focus moves away from the cell.
        THERE IS NO SAVE BUTTON.  Updates to the cell are immediately reflected to others viewing the ScoreCard.  Tabbing will move to the next available editable cell.
    </p>
    <h3>Permissions</h3>
    <p>
        Administrators control which users can edit cells from the line level to the functional area down to the local site level.  
        Line Owners can edit their respective lines.
        Because this site is intended to replace local spreadsheets and avoid the file management required to rollup the data, all users can contribute their numbers on this one site.
        For that reason, it may be that only one line at the bottom level may be editable for some users.  Some drill-down clicks on page may be needed to uncover the editable rows.  
    </p>
    <h3>Top Down Initial view</h3>
    <p>
        When the site first displays or after a page refresh, only the top level view is shown.  To see the contributing detail click on a row/line of interest and functional areas will be displayed.
        To see local sites beneath each functional area click again on the functional area row.     
    </p>
    <p>
        The triangle next to the measure field indicates whether a row is expanded or not.  Underlines are provided as hints to the totals/averages.  Functional areas are separated with blue lines to make data easier to read.
        Roll-up calculations are the opposite of what one would expect on a normal spreadsheet in that the numbers are rolled up instead of down.
    </p>
    <h3>Line Owners' Top-Down Override Capability</h3>
    <p>
        Even though the numbers rollup from the detail lines, occasionally a line owner may want to display different numbers for the line than would be normally calculated.
        This is done by directly editing the cells at the line level.  Any numbers entered on at least one of the cells at the line level will introduce a top-down override.  
        Normal bottom-up numbers will be displayed on the very next line with a comment indicating sums or averages when expanded.
        To remove an override line, delete all the cells' values using backspace and the normal rollup will accrue to the line item.
    </p>
    <h3>Fiscal Year</h3>
    <p>
        The page shows data for the four quarters of a single fiscal year.  A total from the prior fiscal year is on the leftmost number column.
        To move to another fiscal year, click on the arrows inside the green badge in the top nav bar.
        The currently viewd fiscal year is displayed in the green badge.
        Arrows to move to another year will only appear if records exist for that year.
    </p>
    <h3>Cover Letter</h3>
    <p>
        If a cover letter has been uploaded by an administrator for the currently viewed year, a link to a PDF will present on the nav bar.  PDFs are shown in various ways by the different browsers. 
    </p>
    <h3>Undo/Redo</h3>
    <p>
        Because there is no Save button, the data is stored immediately upon hitting Tab or mousing away.  Therefore, any changes for a browser session can be undone by clicking on the Undo button.
        The undo buffer will persist as long as the browser session persists.  Close and reopen the browser to force a new session.
    </p>
@if (ViewBag.Worker != null && ViewBag.Worker.IsAdmin)
{
    <h1>Administer ScoreCard</h1>
    <h3>User Access</h3>
    <p>
        Adding a user to the list of users in this list allows them to view this site.
        To allow a user to edit portions of the site, the green badge at the right of the user row opens to a page where detailed permissions can be provisioned.
        Administrators can make other users administrators.  Only administrators will see the Administer link on the top nav bar.
    </p>
    <h3>Cover Letter Upload</h3>
    <p>
        Upload a cover letter for the currently viewed year.  It has to be a PDF file.  To upload letters for another year, navigate to that year before trying to upload.
    </p>
    <h3>Generate Template Records for a new Fiscal Year</h3>
    <p>
        Only current fiscal years are usually relevant.  At year's end in June, administrators should open up the next year for entry by generating line template recoreds to hold the scores.
     </p>
}
